.content{
    background-color: white;
    text-align: center;
    padding-bottom: 5px;
}
.specification{
    background-color: white;
    height: 500px;
}

#prikaz {
    
    font-size: 28px;
    text-align: center;
    
    
    
}
